.hidden {
    display: none;
}

/* Visible section */
.visible {
    display: block;
}
/* *************************************************************** */

/* 메인 영역 스타일 */
main {
    position: relative;
    overflow: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* *************************************************************** */
/* 일반 텍스트 스타일 */
.general-text {
    max-width: 1000px; /* 가로 넓이 확대 */
    margin: 0 auto;
    padding: 30px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    text-align: center;
}

.general-text h1 {
    margin: 0;
    font-size: 2.5rem; /* 폰트 크기 줄임 */
    font-weight: bold;
}

.general-text p {
    margin: 15px 0 0;
    font-size: 1.2rem; /* 폰트 크기 줄임 */
    line-height: 1.6;
}
/* *************************************************************** */


/* 강조 텍스트 스타일 */
.emphasis {
    font-size: 1.2rem; /* 일반 텍스트 크기에서 조금만 키움 */
    color: #fff; /* 텍스트 색상 */
    text-shadow: 
        0 0 10px rgba(247, 4, 4, 0.973), 
        0 0 20px rgba(221, 6, 250, 0.979); /* 금가루 효과 */
    /* 애니메이션 추가 여부는 선택 사항 */
    animation: highlightSparkle 2s infinite;
}

/* *************************************************************** */

/* 타이핑 애니메이션 */
@keyframes highlightTyping {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes highlightBlink {
    0% { border-right: 2px solid transparent; }
    100% { border-right: 2px solid rgba(255, 255, 255, 0.75); }
}

/* 금가루 애니메이션 */
@keyframes highlightSparkle {
    0% { opacity: 0; transform: scale(1); }
    50% { opacity: 1; transform: scale(1.1); }
    100% { opacity: 0; transform: scale(1); }
}

.highlight {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid rgba(255, 255, 255, 0.75);
    font-size: 2.5rem; /* 폰트 크기 줄임 */
    color: #fff;
    text-align: center;
    margin: 0;
    animation: highlightTyping 3s steps(40, end), highlightBlink 0.75s step-end infinite;
    text-shadow: 0 0 10px rgba(110, 3, 231, 0.938), 0 0 20px rgba(224, 5, 213, 0.979); /* 금가루 효과 */
}

.highlight::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(farthest-corner, rgba(255, 215, 0, 0.4), transparent);
    opacity: 0.5;
    z-index: -1;
    animation: highlightSparkle 2s infinite;
    pointer-events: none; /* 클릭 방지 */
}


/* *************************************************************** */


/* Section headings */
section {
    margin: 40px 0;
    text-align: center;
    color: white;
}