/* 내비게이션 바 스타일 설정 */
.navbar {
    position: fixed; /* 페이지 스크롤 시에도 메뉴바를 고정 */
    display: flex;
    align-items: center; /* 내비게이션 바의 자식 요소를 수직 중앙에 배치 */
    justify-content: space-between; /* 좌측과 우측에 요소를 배치 */
    background-color: rgba(51, 51, 51, 0.7); /* 내비게이션 바의 배경 색상 (투명도 조정 가능) */
    width: 100%;
    padding: 0 20px; /* 좌우 패딩 설정 */
    top: 0;
    height: 120px; /* 내비게이션 바의 고정 높이 설정 (높이 증가) */
    box-sizing: border-box; /* 패딩과 보더를 포함한 크기 계산 */
    transition: background-color 1.5s, transform 1.5s; /* 배경색과 위치 변경 애니메이션 */
    z-index: 1000;
}
 
  /* *************************************************************** */

  
/* 로고 래퍼 스타일 설정 */
.logo-wrapper {
    display: flex; /* 로고와 텍스트를 수평으로 배치 */
    align-items: center; /* 로고와 텍스트를 수직으로 중앙에 배치 */
}

/* 로고 링크 스타일 설정 */
.logo-link {
    display: inline-block; /* 인라인 블록으로 설정 */
    padding: 0; /* 패딩 제거 */
    text-decoration: none; /* 링크의 기본 밑줄 제거 */
    transition: transform 0.5s ease; /* 호버 시 애니메이션 효과 */
}

/* 로고 이미지 스타일 설정 */
.logo-link img {
    display: block; /* 이미지의 기본 display 속성 설정 */
    width: 100px; /* 로고 이미지 크기 조정 */
    height: 100px; /* 로고 이미지 크기 조정 */
    object-fit: contain; /* 이미지가 컨테이너에 맞게 조정되도록 설정 */
    transition: transform 0.3s ease;
}

.logo-link img:hover {
    transform: scale(1.2);
}
/* *************************************************************** */


/* 로고 텍스트 스타일 설정 */
.logo-text {
    font-family: "Parisienne", cursive;
    color: #fff;
    font-size: 32px; /* 폰트 크기 설정 */
    margin: 0; /* 기본 여백 제거 */
    line-height: 1.2; /* 텍스트 라인 높이 설정 */
    text-align: left; /* 텍스트 정렬 설정 */
    padding-left: 20px; /* 로고와 텍스트 사이의 거리 설정 */
}


/* *************************************************************** */


/* 메뉴 토글 버튼 스타일 설정 */
.menu-toggle {
    display: none; /* 기본적으로 숨김 */
    background: none;
    border: none;
    cursor: pointer;
    position: relative;
}

/* *************************************************************** */


.nav-menu {
    list-style: none;
    margin: 0;
    padding: 0px 10px;
    display: flex;
    gap: 15px; /* 메뉴 항목 사이의 간격 설정 */
    flex-grow: 1; /* 남는 공간을 채우도록 설정 */
}


/* 내비게이션 메뉴 항목 스타일 설정 */
.nav-menu li {
    flex-grow: 1; /* 메뉴 항목이 부모 요소의 가로 공간을 균등하게 채우도록 설정 */
    text-align: center; /* 텍스트를 중앙 정렬 */
    padding: 0px 15px;
}

/* 내비게이션 링크 스타일 설정 */
.nav-menu a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 10px;
    display: block;
    transition: transform 0.3s ease;
}

.nav-menu a:hover {
    background-color: rgba(51, 51, 51, 0.7);
    border-radius: 5px;
    transform: scale(1.1);
}


/* *************************************************************** */


/* 햄버거 메뉴 버튼 스타일 */
.menu-toggle {
    display: none; /* 기본적으로 숨김 */
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}
